<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Mark Norwich</title>

    


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  
<!--<![endif]-->



<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">



  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" type="text/css" href="static/layouts/marketing.css">
    <!--<![endif]-->
  


    

    

</head>
<body >









<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Mark Norwich</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#about" class="pure-menu-link">About me</a></li>
            <li class="pure-menu-item"><a href="#projects" class="pure-menu-link">Projects</a></li>
            <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">Contact</a></li>
           
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Mark Norwich</h1>
        <!-- <p class="splash-subhead">
        </p> -->
        <!-- <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
        </p> -->
         <img class="splash-subhead" alt="File Icons" width="300" height="400" src="static/img/football.png">
    </div>
</div>

<div class="content-wrapper" id="projects">
    <div class="content">
        <h2 class="content-head is-center">Cool things I've made</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                   <a href="https://github.com/Mnorwich/pd8_Peglegs-GetButter_MarkN-CooperW.git"> <i style="color: #0000FF" class="fa fa-github-square"></i></a>
                    Save Your Soulmate: A Text Based Game
                </h3>
                <p>
                    You have been summoned to save your princess, or Knight. This will not be an easy task. Challenges lay ahead in order to be one level closer to your love. Lose one and you will be pushed back a level. Loose three and you loose your life! Think smart or your love might be trapped in the castle for all time!
                   </p>   
                    
              
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <a href = "https://github.com/Peglegs/Qamba"> <i style="color: #0000FF" class="fa fa-github-square"></i></a>
                    Qamba: Automatically Curated Music
                </h3>
                <p>
                    Qamba is a website where users can upload their own music.  Other users vote on what songs they like and dislike. At the end of the month, the best songs stay on our site, and the others are deleted.  

                     <a style="color: #0000FF" href="http://104.236.253.232/login">Qamba</a>
                </p>
               
               
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <a href = "https://github.com/Mnorwich/fitbit.git"> <i style="color: #0000FF" class="fa fa-github-square"></i></a>
                    Pedometer
                </h3>
                <p>
                    Temperature and step reader made using an arduino.


                </p>
                <!-- <a href = "https://github.com/Mnorwich/fitbit.git"><img src ="static/img/octocat.png"></a> -->

            
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <a href = "https://github.com/Mnorwich/fitbit.git"> <i style="color: #0000FF" class="fa fa-github-square"></i></a>
                    Picture to Ascii Converter
                </h3>
                <p>
                    Created during the time spent interning at the Metropolitan Museum of Art.  Choose from my personal favorites or upload your own picture to be converted to Ascii.
                    <a style="color: #0000FF" href = "http://mnorwich.github.io/MMart/">Website here</a>
                </p>

            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g" id = "about">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="static/img/thinker.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">About Me</h2>

            <p>
                A passionate problem solver.  A great collaborator.  Hardworking, dedicated and sociable, I am eager to transfer my skills into the financial world.  Being fluent in both the Java and Python programming languages, my coding experience will be an asset to any firm.  My interest in coding started as a sophomore at Stuyvesant High School in New York City.  That passion culminated in becoming a teacher’s assistant for the introductory Java course at WashU.  Furthermore, I am a team player—respecting others points of views, while still voicing my own. My programming experience allows me to be an effective trouble shooter, while my analytical mind helps with quantitative and qualitative analysis.  Feel free to contact me below with any questions. You can find my resume <a style="color: #0000FF" href="https://drive.google.com/file/d/0BwvsNWZFVDoCa2ExT1BLeGNyQ0k/view?usp=sharing">here</a>

            </p>

           
        </div>
    </div>

   <!--  <div class="content">
        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

    </div> -->

    <div class="footer l-box is-center" id="contact">
       
        <a href ="mailto:mnorwich96@gmail.com"> <i style="color: #0000FF" class="fa fa-envelope-o fa-5x"></i></a>
        <!-- <p>""</p> -->
        <a href="https://www.linkedin.com/in/mark-n-7240baa1?trk=nav_responsive_tab_profile"><i style="color: #0000FF" class="fa fa-linkedin-square fa-5x"></i></a>
        <!-- <p>""</p> -->
        <a href ="https://www.github.com/Mnorwich"><i style="color: #0000FF" class="fa fa-github-square fa-5x"></i></a>


    </div>

</div>






</body>
</html>
