<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Mark Norwich</title>
   
    


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  
<!--<![endif]-->



<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">



  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" type="text/css" href="static/layouts/marketing.css">
    <!--<![endif]-->
  


    

    

</head>
<body >









<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Mark Norwich</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#about" class="pure-menu-link">About me</a></li>
            <li class="pure-menu-item"><a href="#projects" class="pure-menu-link">Projects</a></li>
            <li class="pure-menu-item"><a href="#resume" class="pure-menu-link">Resume</a></li>
            <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">Contact</a></li>

           
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Mark Norwich</h1>
        <!-- <p class="splash-subhead">
        </p> -->
        <!-- <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
        </p> -->
         <img class="splash-subhead" alt="File Icons" width="300" height="400" src="static/img/football.png">
    </div>
</div>

<div class="content-wrapper" id="projects">
    <div class="content">
        <h2 class="content-head is-center">Cool things I've made</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                   <a href="https://github.com/Mnorwich/pd8_Peglegs-GetButter_MarkN-CooperW.git"> <i style="color: #0000FF" class="fa fa-github-square"></i></a>
                    Save Your Soulmate: A Text Based Game
                </h3>
                <p>
                    You have been summoned to save your princess, or Knight. This will not be an easy task. Challenges lay ahead in order to be one level closer to your love. Lose one and you will be pushed back a level. Loose three and you loose your life! Think smart or your love might be trapped in the castle for all time!
                   </p>   
                    
              
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <a href = "https://github.com/Peglegs/Qamba"> <i style="color: #0000FF" class="fa fa-github-square"></i></a>
                    Qamba: Automatically Curated Music
                </h3>
                <p>
                    Qamba is a website where users can upload their own music.  Other users vote on what songs they like and dislike. At the end of the month, the best songs stay on our site, and the others are deleted.  

                     <a style="color: #0000FF" href="http://104.236.253.232/login">Qamba</a>
                </p>
               
               
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <a href = "https://github.com/Mnorwich/fitbit.git"> <i style="color: #0000FF" class="fa fa-github-square"></i></a>
                    Pedometer
                </h3>
                <p>
                    Temperature and step reader made using an arduino.


                </p>
                <!-- <a href = "https://github.com/Mnorwich/fitbit.git"><img src ="static/img/octocat.png"></a> -->

            
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <a href = "https://github.com/Mnorwich/fitbit.git"> <i style="color: #0000FF" class="fa fa-github-square"></i></a>
                    Picture to Ascii Converter
                </h3>
                <p>
                    Created during the time spent interning at the Metropolitan Museum of Art.  Choose from my personal favorites or upload your own picture to be converted to Ascii.
                    <a style="color: #0000FF" href = "http://mnorwich.github.io/MMart/">Website here</a>
                </p>

            </div>
        </div>
    </div>


    <div class="ribbon l-box-lrg pure-g" id = "about">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="static/img/thinker.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">About Me</h2>

            <p>
                A passionate problem solver.  A great collaborator.  Hardworking, dedicated and sociable, I am eager to transfer my skills into the financial world.  Being fluent in both the Java and Python programming languages, my coding experience will be an asset to any firm.  My interest in coding started as a sophomore at Stuyvesant High School in New York City.  That passion culminated in becoming a teacher’s assistant for the introductory Java course at WashU.  Furthermore, I am a team player—respecting others points of views, while still voicing my own. My programming experience allows me to be an effective trouble shooter, while my analytical mind helps with quantitative and qualitative analysis.  Feel free to contact me below with any questions. You can find my resume <a style="color: #0000FF" href="https://drive.google.com/file/d/0BwvsNWZFVDoCTE5aOC1rcjFEdzA/view?usp=sharing">here</a>

            </p>

           
        </div>
    </div>

    <div class="content" id="resume">
        <h2 class="content-head is-center">Resume</h2>
            <h2 class="content-head content-head-ribbon">Resume</h2>      
                <p><strong><u>Education</u></strong> <strong><u> </u></strong></p>
                <p><strong>W</strong><strong>ashington University in St. Louis St. Louis, Missouri</strong></p>
                <p><em>Majoring in Finance and Computer Science, Sophomore August, 2015-present</em></p>
                <ul>
                <li>Teaching Assistant for the Computer Science Introductory Course</li>
                </ul>
                <p><strong>Stuyvesant High School New York, NY</strong></p>
                <p><em>Concentration in Computer Science September, 2012-June, 2015</em></p>
                <ul>
                <li>ACT Score: 34</li>
                </ul>
                <p><strong><u>Exp</u></strong><strong><u>erience</u></strong> <strong><u> </u></strong></p>
                <p><strong>Campus Kids New Jersey Blairstown, NJ</strong></p>
                <p><em>Camp Counselor June, 2016-August, 2016</em></p>
                <ul>
                <li>Created a collaborative, supportive environment within the bunk setting,</li>
                <li>Planned daily schedules as the primary Football, Lacrosse, and Weightlifting counselor, keeping the campers active, engaged, and lea</li>
                <li>Resolved conflicts between campers.</li>
                </ul>
                <p><strong>The Metropolitan Museum of Art New York, NY</strong></p>
                <p><em>Summer Intern July, 2014-August, 2014 </em></p>
                <ul>
                <li>Developed an Art to Ascii converter working for the Information Systems and Technology programming</li>
                <li>Learned programming languages and data transfer tools such as:
                <ul>
                <li>HTML, CSS, JavaScript, JSON</li>
                </ul>
                </li>
                <li>Deployed website.
                <ul>
                <li><a href="http://mnorwich.github.io/MMart/">http://mnogithub.io/MMart/</a></li>
                </ul>
                </li>
                </ul>
                <p><strong>T</strong><strong>o</strong><strong>ys By Teens, LLC New York, NY</strong></p>
                <p><em>Product Marketer and Beta Tester July, 2013-August, 2013</em></p>
                <ul>
                <li>Collaborated with a student run team to help move a product to market.</li>
                <li>Lead a social media campaign to market the product.</li>
                <li>Analyzed focus group data.</li>
                </ul>
                <p><strong>Dr. Gould Study Collections Project New York, NY</strong></p>
                <p><em>Researcher and Curator July, 2012</em></p>
                <ul>
                <li>Categorized and archived Columbia Professor&rsquo;s personal collection of anthropological artifacts.</li>
                </ul>
                <p><strong><u>Skills</u></strong> <strong><u> </u></strong><strong>Computer </strong><strong>Programming</strong>: Experienced in Java, Python (flask), JavaScript, HTML, and CSS (purecss.io) programming languages. Worked with SQL to store and sort MP3 files.</p>
                <p><strong>Source Code Management</strong>: Extensive use of Git and GitHub to collaborate on programming based projects. GitHub: https://github.com/Mnorwich.</p>
    </div>


    <div class="ribbon l-box-lrg pure-g" id = "contact">
        
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" name ="name" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" name="email" placeholder="Your Email">
                    
                        <label for="message">Your Message</label>
                        <textarea id ="message" class="pure-input-1" name="message" placeholder="Message for Mark"></textarea>
                    </fieldset>
                    <button type="submit" class="pure-button">Submit</button>
                    
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h2 class="content-head content-head-ribbon">Contact Me</h2>
                <p>
                Feel free to send me a message with any questions, inquiries, or comments.  You can also find links to my LinkedIn, personal email, and GitHub below. 
                </p>
                <p>
                {% if name %}
                    <h5>Thank you {{name}} for contacting me.</h5>
                {% endif %}
                </p>   
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
       
        <a href ="mailto:m.norwich@wustl.edu"> <i style="color: #1f8dd6" class="fa fa-envelope-o fa-5x"></i></a>
        <!-- <p>""</p> -->
        <a href="https://www.linkedin.com/in/mark-n-7240baa1?trk=nav_responsive_tab_profile"><i style="color: #1f8dd6" class="fa fa-linkedin-square fa-5x"></i></a>
        <!-- <p>""</p> -->
        <a href ="https://www.github.com/Mnorwich"><i style="color: #1f8dd6" class="fa fa-github-square fa-5x"></i></a>


    </div>

</div>






</body>
</html>
