<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>

    


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  
<!--<![endif]-->



<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">



  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" type="text/css" href="static/layouts/marketing.css">
    <!--<![endif]-->
  


    

    

</head>
<body>









<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Mark Norwich</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#about" class="pure-menu-link">About me</a></li>
            <li class="pure-menu-item"><a href="#projects" class="pure-menu-link">Projects</a></li>
           
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Mark Norwich</h1>
        <!-- <p class="splash-subhead">
        </p> -->
        <!-- <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
        </p> -->
         <img class="splash-subhead" alt="File Icons" width="300" height="400" src="static/img/football.png">
    </div>
</div>

<div class="content-wrapper" id="projects">
    <div class="content">
        <h2 class="content-head is-center">Cool things I've made</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class=""></i>
                    Save Your Soulmate
                </h3>
                <p>
                    A text based game
                   </p>   
                    <a href="https://github.com/Mnorwich/pd8_Peglegs-GetButter_MarkN-CooperW.git"><img src="static/img/octocat.png"></a>
               
              
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class=""></i>
                    Qamba
                </h3>
                <p>
                    Automatically curated music.
                     <a href="http://104.236.253.232/login">Qamba</a>
                </p>
               
                <a href = "https://github.com/Peglegs/Qamba"><img src = "static/img/octocat.png"></a>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class=""></i>
                    Pedometer
                </h3>
                <p>
                    Tempterature and step reader made using an arduino.
                </p>
                <a href = "https://github.com/Mnorwich/fitbit.git"><img src ="static/img/octocat.png"></a>

            
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class=""></i>
                    Picture to Ascii Converter
                </h3>
                <p>
                    Title says it all.  Upload a picture and see how it goes!
                    <a href = "http://mnorwich.github.io/MMart/">Website here</a>
                </p>
                 <a href = "https://github.com/Mnorwich/MMart.git"><img src ="static/img/octocat.png"></a>

            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g" id = "about">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="static/img/me.jpg">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">About Me</h2>

            <p>
                Hi! My name is Mark.  I’m a freshman at Washington University in St. Louis.  I love computer science and am passionate about programming.  In addition to pursuing a degree in computer science I TA and am on the varsity football team.  Contact me below with any questions.  

            </p>
        </div>
    </div>

   <!--  <div class="content">
        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

    </div> -->

    <div class="footer l-box is-center">
        Contact: 646-842-1303.   mnorwich96@gmail.com
    </div>

</div>






</body>
</html>
